:root {
  --main-purplish-dark: #5b2843; 
  --main-white: #fafafa;
  --main-white-accent: #f2f2f2;
  --main-white-dark: #d9d9d9;
  --main-black: #333;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-white);
  font-family: Cascadia Code, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: var(--main-white-accent);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  min-height: 96px;
  background-color: var(--main-white-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  font-family: Cascadia Code, sans-serif;
  display: inline-block;
  padding: 0.4rem 1.5rem;
  margin: 0.5rem;
  border: 0.1rem solid var(--main-purplish-dark);
  background-color: var(--main-white-accent);
  color: var(--main-purplish-dark);
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 800;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: all 0.2s;
}

.btn:hover {
  background-color: var(--main-purplish-dark);
  color: var(--main-white);
}

.section-container {
  top: 0;
  left: 0;
  background: transparent;
  width: 100%;
  height: 800px;
  background-image: url("assets/img/bg_audiolarks_grey.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* ========================================== */

.round-play-button {
  position: fixed;
  bottom: 2vh;
  right: 2vw;
  z-index: 100;
  background-color: var(--main-purplish-dark);
  opacity: 0.6;
  border-radius: 50%;
  border: none;
  transition: all 0.3s ease-in-out;
}

.element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  /* beide 50 war Standart */
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border-top: 15px solid transparent;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  transform-origin: top left;
  transition: .25s;
  background-image: url("assets/svg/triangle-15.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: blur(13px) contrast(15);
  mix-blend-mode: screen;
}
.audio-visualizer {
  position: relative;
  /* Beide auf 300 als Standart */
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #fafafa71;
  transition: .5s;
  transform: rotateZ(180deg);
}

.audio-visualizer-canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(0.5px) contrast(1);
  mix-blend-mode: screen;
}